# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
/.vs/YufoxApp/FileContentIndex/1a84cf02-7c11-4ace-bca2-b24a9067e072.vsidx
/.vs/YufoxApp/FileContentIndex
/.vs/YufoxApp/v17
